.deposit_cancel_step2_left {
}

.deposit_cancel_step2_left h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.deposit_cancel_step2_left h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #008b8a;
}

.deposit_cancel_step2_left_container {
  padding: 22px 35px;
  border: 1px solid #bac0ce;
  border-radius: 8px;
  margin-bottom: 20px;
  margin-top: 10px;
}

.deposit_cancel_step2_left_container p {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.deposit_cancel_step2_left_container h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #008b8a;
  margin-bottom: 10px;
}

.deposit_cancel_step2_left_container h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #2c3537;
  margin-bottom: 5px;
}

.deposit_cancel_step2_left_container .primary {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #008b8a;
}

.deposit_cancel_step2_left .form-check {
  margin-bottom: 20px;
}
.deposit_cancel_step2_left .select {
  margin-bottom: 30px;
}
