.deposit_consolidation h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.deposit_change__info {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #f5f6f8;
  border-radius: 16px;
  padding: 40px 32px;
  gap: 23px;
  margin-bottom: 30px;
}
.deposit_change__info .progress {
  background-color: transparent;
  width: 48px;
  height: 48px;
}
.deposit_change__info .progress svg {
  width: 48px;
  height: 48px;
}
.deposit_change__info .circle-progress-value {
  stroke-width: 6px;
  stroke: #f05e22;
  stroke-linecap: round;
}
.deposit_change__info .circle-progress-text {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
  stroke: #2c3537;
}
.deposit_change__info .circle-progress-circle {
  stroke-width: 2px;
  fill: transparent;
  width: 48px;
  height: 48px;
}

.deposit_change__info--title-deposit h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 6px;
}
.deposit_change__info--title-left p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1;
  margin-bottom: 1px;
}
.deposit_change__info--title-deposit h4 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  margin-bottom: 0;
}
.deposit_change__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 15px;
}
.deposit_change__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-bottom: 40px;
}
.deposit_change__form__block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
  align-items: center;
}
.deposit_change__form__block--input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.deposit_change__form__block--input label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
.deposit_change__form__block--input input[type="text"] {
  border: none;
  border-bottom: 1px solid #d2d4d4;
}
.deposit_change__form__block--hint p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: #bac0ce;
}
.deposit_change__new__conditions {
  margin-bottom: 30px;
}
.deposit_change__new__conditions h4 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 15px;
}
.deposit_change__new__conditions--block {
  margin-bottom: 20px;
}
.deposit_change__new__conditions--block h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.deposit_change__new__conditions--block p {
  color: #bac0ce;
  margin-bottom: 0;
}

.deposit_consolidation_complete {
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deposit_consolidation_complete_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 245px;
}
.deposit_consolidation_complete_content h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}
.deposit_consolidation_complete_content svg {
  margin-bottom: 25px;
}
.deposit_consolidation_complete_content svg path {
  stroke: #008b8a;
  stroke-width: 3px;
}

.deposit_consolidation_complete_content button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.deposit_consolidation_complete_content button svg {
  margin-bottom: 0;
}

.deposit_consolidation_complete_content .c-btn-dark {
  margin-bottom: 50px;
}
