body {
  background: #eee;
}
.tab-pane {
  margin-right: 0 !important;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: #eee;
  border: none;
}
p {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #2c3537;
  margin-bottom: 5px;
}
.warn {
  color: #ed3a32;
}
.form__block--input input {
  font-weight: normal;
  font-size: 14px;
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  color: #0e1839;
  padding: 10px 15px;
  border: 1px solid #bac0ce;
}
.form__block--input input:focus {
  outline: 1px solid #008b8a;
  border: 1px solid #008b8a;
}
.form__block--input {
  width: 100%;
}
.input-underline input {
  font-weight: normal;
  font-size: 14px;
  background: #ffffff;
  width: 100%;
  color: #0e1839;
  padding: 10px 15px;
  border: none;
  border-bottom: 1px solid #bac0ce;
}
.input-underline input:focus {
  outline: none;
  border-bottom: 1px solid #008b8a;
}
.input-underline {
  width: 100%;
}
.icon-end {
  position: relative;
}
.icon-end span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  line-height: 0;
  width: 14px;
  height: 14px;
}
.hint {
  margin: 0;
  margin-top: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #878a8a;
}

.input-with-icon-left {
  position: relative;
}
.input-with-icon-left input {
  padding-left: 50px;
}
.input-with-icon-left svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}
.form__block_two {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
.form__block_two input {
  width: 100%;
  margin: 0;
}

.input-message {
  background: #f5f6f8;
  border-radius: 8px;
  padding: 20px;
}
.input-message input {
  border: none !important;
  outline: none !important;
}
.input-message svg {
  left: 35px;
}
.c-btn {
  background-color: transparent;
  border: 1px solid transparent;
  padding: 10px 25px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  color: #0e142f;
  display: inline-block;
  border-radius: 6px;
  transition: 0.2s ease-out;
}
.c-btn-outline-white {
  border: 1px solid #d2d4d4;
  border-radius: 6px;
  background: #ffffff;
  color: #2c3537;
}
.c-btn-primary {
  color: #fff;
  background: #008b8a;
}
.c-btn-dark {
  color: #fff;
  background: #2c3537;
}
.c-btn-secondary {
  color: #fff;
  background: #f05e22;
}
.c-btn:disabled {
  background-color: #bac0ce !important;
  cursor: default;
}
.c-btn .nav-tabs .nav-link {
  border: none !important;
}
.c-btn-tooltip {
  background: #f5f6f8;
  color: #007ff5;
}

.nav-tabs .active {
  font-weight: 700;
  border-bottom: 3px solid #2c3537 !important;
}

.nav-item {
  border-top: none !important;
  border-right: none !important;
  border-left: none !important;
}

.nav-link {
  color: #2c3537;
  font-size: 16px;
}

.nav-link:hover {
  color: #2c3537;
}

.gray-dark {
  color: #adb2b3;
}

.backdrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
}

.c-tooltip {
  display: block;
  position: relative;
  margin-left: 5px;
}
.c-tooltip svg {
  cursor: pointer;
}
.c-tooltip_content {
  display: none;
  position: absolute;
  z-index: 3;
  left: 35px;
  top: -25px;
}
.c-tooltip_content_container {
  width: 300px;
  height: fit-content;
  background: #fff;
  border: 1px solid #efefef;
  border-radius: 9px;
  padding: 20px;
}
.c-tooltip_content_container_top {
  position: relative;
  height: 10px;
  margin-bottom: 5px;
}
.c-tooltip_content_container_top_controls {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}
.c-tooltip_content_container_top_controls:after {
  display: inline-block;
  content: "\00d7";
  font-size: 36px;
  line-height: 12px;
  font-weight: 300;
  color: #0e142f;
  transition: 0.2s;
}
.c-tooltip_content_container h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 9px;
}
.c-tooltip_content_container p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 10px;
}
.c-tooltip_content_container button {
  width: 100%;
}

.c-tooltip_content_active {
  display: block;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}
.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000;
  width: 100%;
  height: 43px;
}
.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 8px 15px;
  border: 1px solid #bac0ce;
  border-radius: 6px;
  transition: all 0.2s ease-in;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #000 transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: darken(#eee, 2);
}
.select-styled:active,
.select-styled.active {
  background-color: darken(#eee, 5);
}
.select-styled:active:after,
.select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #000 transparent;
}

.select-options {
  margin-top: 3px;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background: #ffffff;
  border: 1px solid #bac0ce;
  box-shadow: 0px 12px 16px rgba(44, 53, 55, 0.09);
  border-radius: 4px;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  transition: all 0.15s ease-in;
  color: #2c3537;
}
.select-options li:hover,
.select-options li.is-selected {
  background: #f6f7f9;
  border-radius: 8px;
}
.select-options li[rel="hide"] {
  display: none;
}
