.carousel-indicators {
  bottom: -45px;
  align-items: center;
}
.carousel-indicators li {
  width: 6px;
  height: 6px;
  background-color: #99a0a2;
  border: none;
  border-radius: 50%;
}
.carousel-indicators .active {
  background-color: #f05e22;
  width: 8px;
  height: 8px;
}
.carousel-control-next,
.carousel-control-prev {
  display: flex !important;
  top: 50%;
  height: fit-content;
  width: fit-content;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0px 4.48673px 11.9646px rgba(0, 0, 0, 0.06);
  border-radius: 50%;
  width: 33px;
  height: 33px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-control-next {
  right: 20px;
}

.carousel-control-prev {
  left: 20px;
}
.carousel-control-next svg path,
.carousel-control-prev svg path {
  stroke: #fff;
}

.display_flex {
  display: flex !important;
}
