/******** Details **********/

.credit_item__details-header {
  background: #fff;
  border-radius: 10px;
  padding: 12px 25px;
}
.credit_item__details-header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.credit_item__details-header-top h5 {
  color: #0e142f;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}
.credit_item__details-header-top h4 {
  cursor: pointer;
  padding: 1px;
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}
.deposit_item__card-top-title {
  display: flex;
  gap: 10px;
}
.deposit_item__card-top-title h6 {
  font-weight: 700;
  font-size: 17px;
  line-height: 1.3;
}
.deposit_item__card-top-title p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  display: flex;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.5);
}

.credit_item__details-card-container {
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  display: grid;
  margin-bottom: 20px;
}

.credit_item__details-card-container-single h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  display: flex;
  margin-bottom: 10px;
  color: #2c3537;
}

.credit_item__details-card-content {
  margin-top: 20px;
  display: none;
  gap: 15px;
  position: relative;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.credit_item__details-card-content-active {
  display: block;
  opacity: 1;
  transform: translateY(0);
}
.credit_item__details-card-content div h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #878a8a;
  margin-bottom: 0;
}
.credit_item__details-card-content div p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.credit_item__details-card-active {
  display: flex;
}

.credit_item__details-card-container-single {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.credit_item__details-card-container-single-card {
  padding: 15px;
  gap: 10px;
  background: #ffefee;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.credit_item__details-card-container-single-card div h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #2c3537;
  margin-bottom: 5px;
}
.credit_item__details-card-container-single-card div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #2c3537;
}

.credit_item__details-card-container-single-doc-card {

    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

  .credit_item__details-card-container-single-doc-card div {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    background: #f5f6f8;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .credit_item__details-card-container-single-doc-card a {
    width: 100%;
    color: #0856b1;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
  }
  .credit_item__details-card-container-single-doc-card div a span {
    max-width: 400px;
  }
  .credit_item__details-card-container-single-doc-card div a svg {
    margin-right: 15px;
  }
  .credit_item__details-card-container-single-doc-card div a svg path {
    fill: #0856b1;
  }