.title-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 25px;
}
.title-row h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
}
.credit-timeline-download {
  padding: 11px 20px;
  background: #ffffff;
  border: 1px solid #d2d4d4;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 11px;
  cursor: pointer;
}
.credit-timeline-year {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2c3537;
  margin-bottom: 10px;
}
.credit-timeline-months {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.credit-timeline-months--item {
  background: #ffffff;
  border: 1px solid #d2d4d4;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 20px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}
.credit-timeline-months--item:hover {
  background-color: #f5f6f8;
}
.credit-timeline-months--item svg {
  margin-bottom: 4px;
}

.credit-timeline-months--item svg path {
  fill: #d2d4d4;
}

.credit-timeline-months--item span {
  color: #adb2b3;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 2px;
}
.credit-timeline-months--item h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #2c3537;
}
.credit-timeline-months--item--active {
  border: 1px solid #008f91;
}
.credit-timeline-months--item--active svg path {
  fill: #008f91;
}
.credit-timeline-table {
  border-radius: 8px;
  padding: 15px;
}
.credit-timeline-table div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 0.6px solid #d2d4d4;
  margin-bottom: 15px;
}
.credit-timeline-table div:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.credit-timeline-table div p {
  margin: 0;
  font-size: 16px;
}
.credit-timeline-table-gray {
    color: #ADB2B3;
}