.modal-header {
  border-bottom: none;
  display: flex;
  padding: 30px 30px 0;
}
.modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  color: #2c3537;
  width: 100%;
}

.modal-footer {
  border-top: none;
  display: flex;
  flex-direction: column;
}
