.deposit_hint {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  margin-bottom: 20px;
  color: #bac0ce;
}

.deposit_divide_step3_hint {
  margin: 20px 0;
}
.deposit_divide_step3_hint p {
  color: #008b8a;
}

.deposit_divide_step3 h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1;
  color: #2c3537;
  margin-bottom: 20px;
}

.deposit_divide_step3_main {
  background: #f5f6f8;
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

.deposit_divide_step3_main_block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.deposit_divide_step3_main_block_disabled {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #2c3537;
  margin-bottom: 10px;
}
.deposit_divide_step3_main_block_primary {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1;
  color: #008f91;
  margin-bottom: 10px;
}

.deposit_divide_step3_main .form__block--input label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  color: #adb2b3;
}

.deposit_divide_step3 .reason {
  margin-top: 10px;
  margin-bottom: 40px;
}

.deposit_check_total {
  padding-top: 30px;
  border-top: 1px solid #F6F7F9;
}
.deposit_check_total div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.deposit_check_total div h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.1;
}

.deposit_check_total div .primary {
  color: #008b8a;
}

.deposit_divide_step3_check {
  margin-bottom: 30px;
}