.document-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  max-width: 50%;
}
.document-top-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 40px;
}
.document-top p {
  margin-bottom: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
.document-body h3 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  text-transform: uppercase;
  margin: 0;
}

.document-body h6 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  margin: 0;
  margin-bottom: 15px;
}
.document-body p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.6;
}
.document-table {
  margin-top: 30px;
  background: #f5f6f8;
  border-radius: 8px;
  padding: 15px;
}
.document-table div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 0.6px solid #d2d4d4;
  margin-bottom: 10px;
}
.document-table div:last-child {

  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.document-table div p {
    margin: 0;
  }
  