.error-message {
  padding: 15px 20px;
  border: 1px solid #ed3a32;
  border-radius: 8px;
  background: #ffefee;
  margin-bottom: 20px;
}

.error-message svg {
    margin-right: 12px;
    min-width: 18px;
}