.progress {
  background-color: transparent;
  width: 200px;
  height: 200px;
}
.progress svg {
  width: 200px;
  height: 200px;
}
.circle-progress-value {
  stroke-width: 16px;
  stroke: #008b8a;
  stroke-linecap: round;
}
.circle-progress-text {
  display: none;
}
.circle-progress-circle {
  stroke-width: 12px;
  stroke: #bac0ce;
  fill: transparent;
  width: 200px;
  height: 200px;
}

.family h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2c3537;
}

.family-info__container {
  border: 1px solid #d2d4d4;
  border-radius: 16px;
  padding: 25px;
}

.family-info__top {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-bottom: 35px;
}
.family-info__top h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 1.4;
  color: #2c3537;
  margin: 0;
}
.family-info__top h3 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #2c3537;
  margin: 0;
}
.family-info__top h3 span {
  font-size: 20px;
  line-height: 1.2;
  color: #bac0ce;
}
.family-info__top p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
  color: #bac0ce;
  margin: 0;
  margin-bottom: 10px;
}
.family-info__body {
  display: flex;
  align-items: center;
  gap: 60px;
}
.family-info__body--desc p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1;
  color: #bac0ce;
  margin-bottom: 10px;
  margin-top: 0;
}
.family-info__body--desc h5 {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2;
  color: #2c3537;
  margin-top: 0;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}
.family-info__body--desc h5 span {
  width: 6px;
  height: 6px;
  margin-right: 10px;
  background-color: #008b8a;
  border-radius: 50%;
  content: "";
}
.family-members-add {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d2d4d4;
  margin-bottom: 25px;
  margin-top: 40px;
}
.family-members-add h4 {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  margin: 0;
}

.family-members-add span {
  font-weight: 400;
  cursor: pointer;
  font-size: 14px;
  line-height: 18px;
  color: #008b8a;
  text-decoration-line: none;
  border-bottom: 1px solid #008b8a;
}

.family-members {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #d2d4d4;
  margin-bottom: 25px;
}

.family-members > div {
  display: flex;
  flex-direction: row;
  gap: 80px;
}

.family-members > div p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #bac0ce;
}
.family-members > div h6 {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #2c3537;
}


.family-members span {
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    line-height: 18px;
    color: #008b8a;
    text-decoration-line: none;
    border-bottom: 1px solid #008b8a;
  }
  