.modal-header {
  border-bottom: none;
}
.modal-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2c3537;
  width: 100%;
}

.modal-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  color: #2c3537;
}
.modal-footer {
  border-top: none;
  display: flex;
  justify-content: start;
}
