.progress {
  background-color: transparent;
  width: 48px;
  height: 48px;
}
.progress svg {
  width: 48px;
  height: 48px;
}
.circle-progress-value {
  stroke-width: 6px;
  stroke: #fff;
  stroke-linecap: round;
}
.circle-progress-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  stroke: #fff;
}
.circle-progress-circle {
  stroke-width: 2px;
  fill: transparent;
  width: 48px;
  height: 48px;
}
