.switch-input {
    margin-bottom: 30px;
}

.custom-switch {
    padding-left: 62px;
}
.custom-control-label::before {
    position: absolute;
    left: -1.5rem;
    top: 0;
    display: block;
    width: 3rem;
    height: 24px;
    pointer-events: none;
    content: "";
    background-color: #adb5bd;
    border: #adb5bd solid 1px;
}

.custom-switch .custom-control-label::before {
    left: -60px;
    width: 52px;
    pointer-events: all;
    border-radius: 50px;
}

.custom-switch .custom-control-label::after {
    top: 2px;
    left: -58px;
    width: calc(24px - 4px);
    height: calc(24px - 4px);
    background-color: #fff;
    border-radius: 50px;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    transform: translateX(28px);
}
.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: #008b8a;
    background-color: #008b8a;
}