.modal-header {
  border-bottom: none;
  display: flex;
  justify-content: center;
}
.modal-title {
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  color: #2c3537;
  width: 100%;
  margin-left: 22px;
  margin-top: 22px;
}

.modal-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  text-align: center;

  color: #2c3537;
}
.modal-footer {
  border-top: none;
  display: flex;
  flex-direction: column;
}
