.account_item__card {
  background: #ffffff;
  box-shadow: 0px 15.7009px 25.4206px rgba(62, 83, 87, 0.12);
  border-radius: 8px;
  padding: 24px 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
.account_item__card h6 {
  font-size: 16px;
  line-height: 1.2;
}
.account_item__card-account,
.account_item__card-balance {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.account_item__card-account p {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.2;
}
.account_item__card-balance p {
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #008f91;
}
.account_item__card-action {
  width: 100%;
}

.account_item__card-action button {
  width: 100%;
}

.account_item__actions {
  margin-top: 30px;
}
.account_item__actions_main_item {
  padding: 10px 13px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 18px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.account_item__actions_main_item:hover {
  background: #d2d4d5;
}
.account_item__actions_main_item div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 18px;
}
.account_item__actions__rounded {
  margin-top: 20px;
  display: flex;
  padding: 0 30px;
  width: 100%;
}
.account_item__actions__rounded--item {
  cursor: pointer;
  padding: 11px 22px;
  border: 1px solid #2c3537;
  border-radius: 28px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 14px;
  align-items: center;
  transition: all 0.2s ease-in;
}
.account_item__actions__rounded--item:hover {
  background: #fff;
  border: 1px solid #fff;
}

.account_item__new {
  width: 100%;
}
.account_item__new button {
  background: #f05e22;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  width: 100%;
  border-radius: 8px;
}
