.new-deposit-error {
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.new-deposit-error_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
}
.new-deposit-error_content h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}
.new-deposit-error_content svg {
  margin-bottom: 25px;
}
.new-deposit-error_content svg path {
  stroke: #ed3a32;
  stroke-width: 3px;
}
.new-deposit-error-actions {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.c-btn-outline {
  border: 1px solid #d2d4d4;
  border-radius: 6px;
}
