.new-deposit h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 20px;
}

.new-deposit-step1-row {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}
.new-deposit-step1-advantages {
  list-style: none;
  padding: 0;
  margin: 0;
}
.new-deposit-step1-advantages li {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}

.new-deposit_message_content_pdf {
  width: 100%;
  margin-bottom: 30px;
  box-sizing: border-box;
  border-radius: 8px;
}
.new-deposit_message_content_pdf div {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  background: #f5f6f8;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.new-deposit_message_content_pdf a {
  width: 100%;
  color: #0856b1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
}
.new-deposit_message_content_pdf div a span {
  max-width: 400px;
}
.new-deposit_message_content_pdf div a svg {
  margin-right: 15px;
}
.new-deposit_message_content_pdf div a svg path {
  fill: #0856b1;
}

.deposit_right_action {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.new-deposit-details {
  margin-top: 30px;
  background: #f5f6f8;
  border-radius: 8px;
  padding: 15px;
}

.new-deposit-details div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 0.6px solid #d2d4d4;
  margin-bottom: 10px;
}

.new-deposit-details div p {
  margin-bottom: 0;
}
.new-deposit-details div:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
