.onboarding h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 10px;
}
.onboarding h6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
  margin-bottom: 25px;
}
.onboarding__card {
  background: #fff;
  border-radius: 10px;
  padding: 0 50px 30px 0;
}
.onboarding__card_content {
  position: relative;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 30px;
  align-items: center;
}
.onboarding__card_content img {
    max-width: 300px;
    height: auto;
    margin-left: 60px;
}
.onboarding__card_content-radio {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.onboarding__card_content-radio label {
    margin: 0 25px 0 20px;
}
.onboarding__card_content-question h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 7px;
}
.onboarding__card_content-question h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}
.onboarding__card_content-question p {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0;
}
.onboarding__card_content-question ul {
  padding-left: 15px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.onboarding__card_content-question a {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #0e142f;
  margin-bottom: 20px;
}
.onboarding__card_content-question form {
  margin-top: 20px;
}

.onboarding__card_content-actions {
  display: flex;
  flex-direction: row;
}
.onboarding__card_content-actions button {
  margin-left: 20px;
}

.onboarding__card_steps ol {
  list-style: none;
  display: flex;
  flex-direction: row;
  margin-bottom: 0;
  align-items: center;
}
.onboarding__card_steps ol .active span {
  background: #f05e22;
  width: 10px;
  height: 10px;
}
.onboarding__card_steps ol li {
  margin-right: 15px;
}
.onboarding__card_steps ol li:last-child {
  margin-right: 0;
}
.onboarding__card_steps ol li span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #bac0ce;
}


input[type="radio"] {
    display: grid;
    place-content: center;
    appearance: none;
    background-color: #F6F7F9;
    margin: 0;
    border: none;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
  }
  
  input[type="radio"]::before {
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #008B8A;
  }
  
  input[type="radio"]:checked::before {
    transform: scale(1);
  }