.part-pay h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.step-right-action {
  margin-top: 20px;
  display: flex;
  gap: 20px;
  justify-content: flex-end;
}
.form-check {
  margin-bottom: 20px;
}
.part-pay-table {
  border-radius: 8px;
  padding: 15px;
}
.part-pay-table div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 0.6px solid #d2d4d4;
  margin-bottom: 15px;
}
.part-pay-table div:last-child {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.part-pay-table div p {
  margin: 0;
  font-size: 16px;
}
.pay-part-total {
  padding: 15px;
  background: #f5f6f8;
  border-radius: 8px;

  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0 30px;
}

.pay-part-total h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  margin-bottom: 5px;
}

.pay-part-total h2 {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: -0.02em;
}
.document-body p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  margin-bottom: 15px;
}
.document-body p span {
  font-weight: 700;
}
.part-pay-credit label {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
.part-pay-credit h5 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
}
.part-pay-credit_list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.part-pay-credit_list_item {
  border: 1px solid #d2d4d4;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
}
.part-pay-credit_list_item_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.part-pay-credit_list_item_top-left h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 0;
}
.part-pay-credit_list_item_top-left h5 span {
  color: #99a0a1;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.part-pay-credit_list_item_top-right div span {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  border: 2px solid #d2d4d4;
  background-color: #fff;
  border-radius: 55px;
  transition: all 0.2s ease-out;
}

.part-pay-credit_list_item_top-right .active span {
  border: 7px solid #008b8a;
}

.part-pay-credit_list_item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.part-pay-credit_list_item_bot {
  margin-top: 18px;
}
.part-pay-credit_list_item_bot h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin: 3px 0;
}

.part-pay_complete {
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.part-pay_complete_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.part-pay_complete_content h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
  max-width: 245px;
}
.part-pay_complete_content svg {
  margin-bottom: 25px;
}
.part-pay_complete_content svg path {
  stroke: #008b8a;
  stroke-width: 3px;
}

.part-pay_complete_content button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.part-pay_complete_content button svg {
  margin-bottom: 0;
}

.part-pay_complete_content .c-btn-dark {
  margin-bottom: 50px;
}


/* .part-pay {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.part-pay-card {
  padding: 15px;
  gap: 10px;
  background: #ffefee;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
}

.part-pay-card div h6 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.3;
  color: #2c3537;
  margin-bottom: 5px;
}
.part-pay-card div p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.3;
  color: #2c3537;
} */
.part-pay-doc {
  margin: 30px 0;
  width: 100%;
}
.part-pay-doc-card {
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}
.part-pay-doc-card:last-child {
  margin-bottom: 30px;
}

  .part-pay-doc-card div {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 10px;
    background: #f5f6f8;
    padding: 15px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .part-pay-doc-card a {
    width: 100%;
    color: #0856b1;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: start;
    text-decoration: none;
  }
  .part-pay-doc-card div a span {
    max-width: 400px;
  }
  .part-pay-doc-card div a svg {
    margin-right: 15px;
    margin-bottom: 0;
  }
  .part-pay-doc-card div a svg path {
    fill: #0856b1;
    stroke: none;
  }