/* fallback */
@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/material.woff2") format("woff2");
}

.progressbar {
  counter-reset: step;
  padding: 0;
}
.progressbar_wrapper {
  display: block;
  height: 60px;
  margin-bottom: 30px;
}
.progressbar_wrapper li {
  list-style-type: none;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  color: #d2d4d4;
}
.progressbar_wrapper li:first-child:nth-last-child(1) {
  width: 100%;
}
.progressbar_wrapper li:first-child:nth-last-child(2),
.progressbar_wrapper
  li:first-child:nth-last-child(2)
  ~ li {
  width: 50%;
}
.progressbar_wrapper li:first-child:nth-last-child(3),
.progressbar_wrapper
  li:first-child:nth-last-child(3)
  ~ li {
  width: 33%;
}
.progressbar_wrapper li:first-child:nth-last-child(4),
.progressbar_wrapper
  li:first-child:nth-last-child(4)
  ~ li {
  width: 25%;
}
.progressbar_wrapper li:first-child:nth-last-child(5),
.progressbar_wrapper
  li:first-child:nth-last-child(5)
  ~ li {
  width: 20%;
}
.progressbar_wrapper li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 28px;
  border: 2px solid #d2d4d4;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.progressbar_wrapper li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #d2d4d4;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.progressbar_wrapper li:first-child:after {
  content: none;
}
.progressbar_wrapper li.active {
  color: #008b8a;
}
.progressbar_wrapper li.finished {
  color: #008b8a;
}
.progressbar_wrapper li.active:before {
  border-color: #008b8a;
}
.progressbar_wrapper li.finished + li:after {
  background-color: #008b8a;
}
.progressbar_wrapper li.finished:before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  background-color: #008b8a;
  border: 2px solid #008b8a;
  color: #fff;
  font-weight: 400;
  content: "\e876";
}
.progressbar_wrapper li.error {
  color: #ed3a32;
}
.progressbar_wrapper li.error + li:after {
  background-color: #ed3a32;
}
.progressbar_wrapper li.error:before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  background-color: #ed3a32;
  border: 2px solid #ed3a32;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  content: "\e002";
}
