.modal-header {
  border-bottom: none;
  display: flex;
}
.modal-title {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  color: #2c3537;
  width: 100%;
}

.modal-body p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;

  color: #2c3537;
}
.modal-footer {
  border-top: none;
  display: flex;
  gap: 15px;
}

.review-textarea {
  display: flex;
  align-items: center;
}

.review-textarea textarea {
  border: 1px solid #adb2b3;
  width: 100%;
  border-radius: 8px;
  resize: none;
  margin: 0 auto;
  padding: 20px 25px;
}
.rating {
  margin-bottom: 25px;
}