.deposit_item__content {
  display: grid;
  grid-template-columns: 1.5fr 2fr;
  gap: 30px;
}

/******** Card **********/

.deposit_item__card {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 20px 35px;
  flex-direction: column;
  background: linear-gradient(95.14deg, #f63b4e 0%, #782ced 100%);
  box-shadow: 0px 13px 28px rgba(0, 0, 0, 0.25);
}
.deposit_item__card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.deposit_item__card-top h6 {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
}

.deposit_item__card-top svg path {
  fill: #fff;
}
.deposit_item__card-alter-code {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}
.deposit_item__card-alter-code span {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: rgba(255, 255, 255, 0.5);
}
.deposit_item__card-alter-code h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.deposit_item__card-alter-code-icon {
  cursor: pointer;
  width: 26px;
  height: 26px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.deposit_item__card-tabs ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 0 20px 0;
  overflow-x: scroll;
}
.deposit_item__card-tabs ul ::-webkit-scrollbar {
  display: none;
}
.deposit_item__card-tabs ul li {
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 30.6542px 35.1402px -11.9626px rgba(62, 83, 87, 0.29);
  border-radius: 12px;
  color: #fff;
  margin-right: 8px;
}
.deposit_item__card-tabs ul li :last-child {
  margin-right: 0;
}
.deposit_item__card-total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.deposit_item__card-total-right h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 3px;
}
.deposit_item__card-total-right h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 3px;
}
.deposit_item__card-total-right h4 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
}

/******** Details **********/

.deposit_item__details-header {
  background: #fff;
  border-radius: 10px;
  padding: 12px 25px;
}
.deposit_item__details-header-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.deposit_item__details-header-top h5 {
  color: #0e142f;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}
.deposit_item__details-header-top h4 {
  cursor: pointer;
  padding: 1px;
  text-decoration: underline;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 0;
}

.deposit_item__details-card-content {
  margin-top: 20px;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  position: relative;
  transform: translateY(-10px);
  transition: opacity 0.2s ease-in-out;
  opacity: 0;
}
.deposit_item__details-card-content-active {
  display: grid;
  opacity: 1;
  transform: translateY(0);
}
.deposit_item__details-card-content div h6 {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #878a8a;
  margin-bottom: 0;
}
.deposit_item__details-card-content div p {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.deposit_item__details-card-active {
  display: flex;
}
.date_picker {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 250px;
}
.input-daterange {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 10px;
  max-width: 250px;
}
.input-daterange input {
  padding: 0 !important;
  border: none !important;
  border-radius: 0 !important;
  color: #008b8a !important;
  font-size: 14px !important;
  line-height: 18px;
  position: relative;
  min-width: 180px;
  cursor: pointer;
}

.input-daterange input:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: none !important;
  outline-width: 0;
}

/* .daterangepicker {
  background-color: #fff;
  border-radius: 0 !important;
  align-content: center !important;
  padding: 0 !important;
} */

/*Weekday Heading*/
thead tr:nth-child(2) {
  color: #bdbdbd !important;
}

tbody tr td {
  padding: 4px 6px !important;
}

.month {
  font-size: 16px !important;
  padding-bottom: 10px !important;
  padding-top: 10px !important;
}

.start-date,
.end-date {
  border-radius: 50% !important;
  background-color: #008b8a !important;
  padding: 5px 7px !important;
}

.available {
  padding: 4px 6px !important;
}
.available:hover {
  border-radius: 50% !important;
}

.off {
  color: #eeeeee !important;
}

.off:hover {
  background-color: #eeeeee !important;
  color: #fff !important;
}

.drp-buttons {
  display: none !important;
}

.deposit_item__period-card {
  background: #fff;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  border-radius: 10px;
  padding: 20px;
}
.deposit_item__period-card-top {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.deposit_item__period-card-top-download {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.deposit_item__period-card-top svg {
  margin-left: 15px;
}
.deposit_item__period-card-content {
  margin-top: 50px;
}
.deposit_item__period-card-content-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 15px;
}
.deposit_item__period-card-content-item:last-child {
  margin-bottom: 0;
}
.deposit_item__period-card-content-item-left {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.deposit_item__period-card-content-item-left svg {
  margin-right: 15px;
  min-width: 18px;
}
.deposit_item__period-card-content-item-left div {
  display: flex;
  flex-direction: column;
}
.deposit_item__period-card-content-item-left div h5 {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
  max-width: 165px;
}
.deposit_item__period-card-content-item-left div p {
  margin-bottom: 0;
  color: #99a0a1;
}
.deposit_item__period-card-content-item-right {
  white-space: nowrap;
}

.deposit_item__actions {
  margin-top: 30px;
}
.deposit_item__actions_main_item {
  padding: 10px 13px;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 18px;
}
.deposit_item__actions_main_item svg {
  margin-right: 18px;
}

.deposit_item__actions-list ul {
  list-style: none;
  margin-top: 3px;
  padding: 0;
  border-radius: 10px;
  padding: 6px 16px;
  background: #fff;
}
.deposit_item__actions-list ul li {
  cursor: pointer;
  color: #0e142f;
  display: flex;
  align-items: center;
  padding: 10px 0;
  transition: all 0.2s ease-out;
  border-bottom: 0.6px solid #D2D4D4;
}
.deposit_item__actions-list ul a:last-child li {
  border-bottom: none;

}
.deposit_item__actions-list ul li svg {
  margin-right: 12px;
}
.deposit_item__actions-list ul li svg path {
  transition: all 0.2s ease-out;
}


.deposit_item__actions-list ul a:hover {
  text-decoration: none !important;
}

.deposit_item__actions-triger {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 13px;
  border-radius: 10px;
  color: #0e142f;
  background: #fff;
}
.deposit_item__actions-triger--arrow {
  transition: all 0.2s ease-out;
  transform: rotate(180deg);
}
.deposit_item__actions-triger svg path {
  stroke: #0e142f;
}

.deposit_item__actions-list {
  margin-bottom: 18px;
}

.deposit_item__actions-active .deposit_item__actions-triger--arrow {
  transform: rotate(0deg);
}

.deposit_item__actions-active .deposit_item__actions-triger ul {
  display: block;
}
