.c-card {
  padding: 30px;
  background: #fff;
  border-radius: 8px;
}
.c-card h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4;
  color: #2c3537;
  margin-bottom: 30px;
}

.notification {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  background: #fff;
  box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  margin-bottom: 20px;
}
.notification h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 4px;
}
.notification p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 4px;
}

.deposits_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deposits_top h1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.deposits_list {
  position: relative;
  margin-top: 40px;
}

.deposits_list-item {
  position: relative;
  display: flex;
  width: 300px;

  background-position: center;
  background-size: cover;
  border-radius: 10px;
  padding: 20px 35px;
  cursor: pointer;
  flex-direction: column;
  background-color: #201e1e;
  color: #fff;
}
.deposits_list-item-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.deposits_list-item-top h6 {
  color: #fff;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 5px;
  margin-top: 0;
}
.deposits_list-item-top svg path {
  fill: #fff;
}
.deposits_list-item-top p {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  margin-top: 0;
}
.deposits_list-item-tabs ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0 0 20px 0;
  overflow-x: scroll;
}
.deposits_list-item-tabs ul::-webkit-scrollbar {
  display: none;
}
.deposits_list-item-tabs ul li {
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  padding: 4px 10px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0px 30.6542px 35.1402px -11.9626px rgba(62, 83, 87, 0.29);
  border-radius: 12px;
  color: #fff;
  margin-right: 8px;
}
.deposits_list-item-tabs ul li:last-child {
  margin-right: 0;
}

.deposits_list-item-total {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.deposits_list-item-total-right h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.8);
  margin-bottom: 3px;
  margin-top: 0;
}
.deposits_list-item-total-right h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
  margin-bottom: 3px;
  margin-top: 0;
}
.deposits_list-item-total-right h4 {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #fff;
  margin: 0;
}

.deposits_single_row {
  gap: 20px;
}

.deposit_message_content {
  margin-top: 5px;
  border-radius: 10px;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding: 40px 120px;
}
.deposit_message_content h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  margin-bottom: 10px;
}
.deposit_message_content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #2c3537;
  margin-bottom: 10px;
}
.deposit_message_content_pdf {
  width: 100%;
  margin-bottom: 30px;
  padding: 20px;
  box-sizing: border-box;
  background-color: #f5f6f8;
  border-radius: 8px;
}
.deposit_message_content_pdf div {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 10px;
  background: #fff;
  padding: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.deposit_message_content_pdf div a {
  width: 100%;
  color: #0856b1;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: start;
  text-decoration: none;
}
.deposit_message_content_pdf div a span {
  max-width: 400px;
}
.deposit_message_content_pdf div a svg {
  margin-right: 15px;
}
.deposit_message_content_pdf div a svg path {
  fill: #0856b1;
}

.deposit_message_content form {
  width: 100%;
}

.deposit_message_content form input {
  max-width: 302px;
  margin-bottom: 15px;
}

.deposit_check_actions {
  margin-bottom: 20px;
}

.deposit_check_submit {
  display: flex;
  justify-content: flex-end;
}
