.toast h6 {
    font-size: 16px;
}
#toast {
    visibility: hidden;
    min-width: 250px;
    max-width: 400px;
    transform: translateX(-50%);
    /* margin-left: -125px; */
    background-color: rgb(211, 47, 47);
    color: #fff;
    border-radius: 8px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }
  #toast h6 {
    font-size: 18px;
    margin: 0;
  }
  #toast p {
    font-size: 14px;
  }
  #toast svg {
    max-width: 48px;
  }

  #toast svg path{
    fill: #fff;
  }
  #toast.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 5s;
    animation: fadein 0.5s, fadeout 0.5s 5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }