@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/material.woff2") format("woff2");
}

.deposit_consolidation h1 {
  font-weight: 700;
  font-size: 18px;
  line-height: 140%;
  margin-top: 20px;
  margin-bottom: 20px;
}
.deposit_consolidation_progressbar {
  counter-reset: step;
  padding: 0;
}
.deposit_consolidation_progressbar_wrapper {
  display: block;
  height: 60px;
  margin-bottom: 30px;
}
.deposit_consolidation_progressbar_wrapper li {
  list-style-type: none;
  float: left;
  font-size: 12px;
  position: relative;
  text-align: center;
  color: #d2d4d4;
}
.deposit_consolidation_progressbar_wrapper li:first-child:nth-last-child(1) {
  width: 100%;
}
.deposit_consolidation_progressbar_wrapper li:first-child:nth-last-child(2),
.deposit_consolidation_progressbar_wrapper
  li:first-child:nth-last-child(2)
  ~ li {
  width: 50%;
}
.deposit_consolidation_progressbar_wrapper li:first-child:nth-last-child(3),
.deposit_consolidation_progressbar_wrapper
  li:first-child:nth-last-child(3)
  ~ li {
  width: 33%;
}
.deposit_consolidation_progressbar_wrapper li:first-child:nth-last-child(4),
.deposit_consolidation_progressbar_wrapper
  li:first-child:nth-last-child(4)
  ~ li {
  width: 25%;
}
.deposit_consolidation_progressbar_wrapper li:first-child:nth-last-child(5),
.deposit_consolidation_progressbar_wrapper
  li:first-child:nth-last-child(5)
  ~ li {
  width: 20%;
}
.deposit_consolidation_progressbar_wrapper li:before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 28px;
  border: 2px solid #d2d4d4;
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}
.deposit_consolidation_progressbar_wrapper li:after {
  width: 100%;
  height: 2px;
  content: "";
  position: absolute;
  background-color: #d2d4d4;
  top: 15px;
  left: -50%;
  z-index: -1;
}
.deposit_consolidation_progressbar_wrapper li:first-child:after {
  content: none;
}
.deposit_consolidation_progressbar_wrapper li.active {
  color: #008b8a;
}
.deposit_consolidation_progressbar_wrapper li.finished {
  color: #008b8a;
}
.deposit_consolidation_progressbar_wrapper li.active:before {
  border-color: #008b8a;
}
.deposit_consolidation_progressbar_wrapper li.finished + li:after {
  background-color: #008b8a;
}
.deposit_consolidation_progressbar_wrapper li.finished:before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  background-color: #008b8a;
  border: 2px solid #008b8a;
  color: #fff;
  font-weight: 400;
  content: "\e876";
}
.deposit_consolidation_progressbar_wrapper li.error {
  color: #ed3a32;
}
.deposit_consolidation_progressbar_wrapper li.error + li:after {
  background-color: #ed3a32;
}
.deposit_consolidation_progressbar_wrapper li.error:before {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  background-color: #ed3a32;
  border: 2px solid #ed3a32;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  content: "\e002";
}
.deposit_consolidation_step1 > h5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.deposit_consolidation_step1 > h4 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
}
.deposit_consolidation_step1_list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.deposit_consolidation_step1_list_item {
  border: 1px solid #d2d4d4;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
}
.deposit_consolidation_step1_list_item_top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deposit_consolidation_step1_list_item_top-left h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 0;
}
.deposit_consolidation_step1_list_item_top-left h5 span {
  color: #99a0a1;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.deposit_consolidation_step1_list_item_top-right div span {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  border: 2px solid #d2d4d4;
  background-color: #fff;
  border-radius: 55px;
  transition: all 0.2s ease-out;
}

.deposit_consolidation_step1_list_item_top-right .active span {
  border: 7px solid #008b8a;
}

.deposit_consolidation_step1_list_item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.deposit_consolidation_step1_list_item_bot {
  margin-top: 18px;
}
.deposit_consolidation_step1_list_item_bot h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin: 3px 0;
}
.deposit_consolidation_step1_action {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.deposit_consolidation_step2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.deposit_consolidation_step2_left > div {
  margin-bottom: 10px;
  position: relative;
}
.deposit_consolidation_step2_left > div:before {
  position: absolute;
  width: 38px;
  height: 38px;
  content: "+";
  left: calc(50% - 19px);
  top: -28px;
  border-radius: 50%;
  background-color: #0e142f;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: 300;
}
.deposit_consolidation_step2_left > div:first-child:before {
  display: none;
}

.deposit_consolidation_step2_right_deposit {
  background: #f5f6f8;
  border-radius: 8px;
  padding: 20px;
  height: fit-content;
}
.deposit_consolidation_step2_right_deposit h3 {
  font-weight: 700;
  font-size: 17px;
  line-height: 140%;
  margin-bottom: 10px;
}
.deposit_consolidation_step2_right_deposit_total {
  background: #ffffff;
  border: 1px solid #008b8a;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
}
.deposit_consolidation_step2_right_deposit_total div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  border-bottom: 0.6px solid #d2d4d4;
  margin-bottom: 10px;
}
.deposit_consolidation_step2_right_deposit_total div p {
  margin-bottom: 0;
}
.deposit_consolidation_step2_right_deposit_total div:last-child {
  padding: 0;
  margin: 0;
  border: none;
}
.deposit_consolidation_step2_right_deposit_notice {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 20px;
  gap: 15px;
  background: #fff;
  border-radius: 8px;
}
.deposit_consolidation_step3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.deposit_consolidation_step3_left .form__block--input {
  margin-bottom: 15px;
}
.deposit_consolidation_step3_left .form__block--input p {
  margin-top: 5px;
}
.deposit_consolidation_step3_right_main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  width: 100%;
  gap: 9px;
  background: #f5f6f8;
  border-radius: 8px;
  height: fit-content;
}
.deposit_consolidation_step3_right_main label {
  color: #99a0a1;
}
.deposit_consolidation_step3_right_main_block {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}
.deposit_consolidation_step3_right_main_primary {
  color: #008b8a;
}

.deposit_consolidation_step5_list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
}
.deposit_consolidation_step5_list_item {
  border: 1px solid #d2d4d4;
  border-radius: 12px;
  padding: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.2s ease-out;
  position: relative;
}
.deposit_consolidation_step5_list_item_active {
  border: 1px solid #008b8a;
}
.deposit_consolidation_step5_list_item_new {
  position: absolute;
  background: #ed3a32;
  border-radius: 40px;
  padding: 4px 10px;
  top: -10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deposit_consolidation_step5_list_item_new h6 {
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  color: #fff;
  margin: 0;
}

.deposit_consolidation_step5_list_item-tabs ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 20px 0;
  overflow-x: scroll;
}
.deposit_consolidation_step5_list_item-tabs ul::-webkit-scrollbar {
  display: none;
}
.deposit_consolidation_step5_list_item-tabs ul li {
  font-weight: 400;
  font-size: 10px;
  line-height: 11px;
  text-align: center;
  padding: 6px 16px;
  background: #f05e22;
  box-shadow: 0px 30.6542px 35.1402px -11.9626px rgba(62, 83, 87, 0.29);
  border-radius: 12px;
  color: #fff;
  margin-right: 8px;
}
.deposit_consolidation_step5_list_item-tabs ul li:last-child {
  margin-right: 0;
}

.deposit_consolidation_step5_list_item_top > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.deposit_consolidation_step5_list_item_top-left h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 5px;
}
.deposit_consolidation_step5_list_item_top-left h5 span {
  color: #99a0a1;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
}

.deposit_consolidation_step5_list_item_top-right div span {
  content: "";
  width: 22px;
  height: 22px;
  display: block;
  border: 2px solid #d2d4d4;
  background-color: #fff;
  border-radius: 55px;
  transition: all 0.2s ease-out;
}

.deposit_consolidation_step5_list_item_top-right .active span {
  border: 7px solid #008b8a;
}
.deposit_consolidation_step5_list_item_top p {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
}
.deposit_consolidation_step5_list_item_bot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.deposit_consolidation_step5_list_item_bot p {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #99a0a1;
}
.deposit_consolidation_step5_list_item_bot h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  margin: 3px 0;
}
.deposit_consolidation_complete {
  margin-top: 20px;
  background: #fff;
  border-radius: 10px;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.deposit_consolidation_complete_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 245px;
}
.deposit_consolidation_complete_content h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 140%;
  text-align: center;
  margin-bottom: 20px;
}
.deposit_consolidation_complete_content svg {
  margin-bottom: 25px;
}
.deposit_consolidation_complete_content svg path {
  stroke: #008b8a;
  stroke-width: 3px;
}

.deposit_consolidation_complete_content button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.deposit_consolidation_complete_content button svg {
  margin-bottom: 0;
}

.deposit_consolidation_complete_content .c-btn-dark {
  margin-bottom: 50px;
}
